@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

*html {
    font-size: 15px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(216, 216, 210);
}

.encabezado {
    
    /*background-image: url('./fondos/descarga.jpg'); width: vw;*/
    background-color: rgb(98, 19, 189);
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    background-position: center;
    padding: 1rem 1rem;
    height: 3vh;
    width: 20%;
    align-items: center;
    
}
.titulo{
    text-align: center;    
    font-size: medium;
    color: white;
}

.menuSuperior {
    list-style: none;
    text-align: center;

}

.menuSuperior li {
    display: inline-block;
    background-color: blue;
}

.submenu0{
   display: contents; 
}

.menuSuperior a {
    text-decoration: none;
    /*color: rgb(247001, 169, 80);*/
    color: white;
    font-weight: 300;
    font-size: 1.2rem;
    padding: 2rem;
}